@import "tailwindcss";

:root{
  --primary: #FE7743;
  --secondary: #273F4F;
  --text-color: #447D9B;
  --small-color: #D7D7D7;
}

body {
  background-image: url("/images/bg5.svg"); 
  background-size: cover;         
  background-repeat: no-repeat;    
  background-position: center;    
  background-attachment: fixed;    
  height: 100vh;                   
  width: 100vw;                    
  margin: 0;
  padding: 0;
  
  
}

/* <div className="bg-[var(--primary)] text-[var(--text-color)]">
  Your content
</div> */